@{
    ViewBag.Title = "Kontakt";
}
@model  IEnumerable<GymApp.Models.ViewsModels.TrainerContactViewModel>
<h3>@ViewBag.Message</h3>

<address>
    Administracja<br />
    <a href="mailto:gymappwebmaster@gmail.com">gymappwebmaster@gmail.com</a>
</address>

<address>
    <h2>Kontakt do Trenerów</h2>
    @foreach (var trainer in Model)
    {
        <strong>@trainer.FirstName @trainer.LastName:</strong> <br />
    <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:@trainer.Email">@trainer.Email</a><br /> 
    <i class="glyphicon glyphicon-phone"></i> @trainer.Phone<br /><br />
    }
</address>