@model IEnumerable<GymApp.ViewsModels.UserViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Dodaj użytkownika", MVC.Users.Register())
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if(item.IsTrainer == true)
            {
                <text>Trener </text>
            }
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Usuń", MVC.Users.Delete(item.Id)) |
            @Html.ActionLink("Karnet", MVC.Tickets.Edit(item.Id))

        </td>
    </tr>
}

</table>
